.btn {
	white-space: normal;

	&:focus {
		box-shadow: none;
	}

	//[class^="icon-"], [class*=" icon-"] {
	//	font-size: 1.2em;
	//	vertical-align: -3px;
	//}

	&-base {
		background: $primary;
		padding: .25rem 1.5rem;
		color: $white;

		&:not(:disabled):hover {
			background: $link-hover-color;
			color: $white;

			&:active {
				background: #0073D3;
			}
		}

		&:disabled,
		&.disabled {
			background: #EAE6E0;
			color: $secondary;
		}
	}

	&-large {
		padding: .5rem 1.5rem;
		font-size: 20px;
	}

	&-small {
		padding: 0 1rem;
		font-size: 13px;
	}

	&-ghost {
		border: 1px solid $primary;
		padding: .25rem 1.5rem;
		color: $primary;

		&:not(:disabled):hover {
			border-color: $link-hover-color;
			color: $link-hover-color;

			&:active {
				border-color: #0073D3;
				color: #0073D3;
			}
		}

		&:disabled,
		&.disabled {
			border-color: #EAE6E0;
			color: #EAE6E0;
		}

		&.btn-large {
			padding: .5rem 1.5rem;
		}

		&.btn-small {
			padding: 0 1rem;
		}
	}
}
