.file-icons {
	:not(:last-child) {
		margin-right: .25rem;
	}
}

.file-icon {
	display: inline-block;
	font-size: 51px;
	&.icon-file-mini{
		font-size: 12px;
	}
}

.socs {
	:not(:last-child) {
		margin-right: .75rem;
	}
}

a .soc, a.soc {
	display: inline-block;
	width: 48px;
	height: 48px;
	border-radius: 24px;
	background: #1CA4E4;
	text-align: center;
	font-size: 26px;
	line-height: 53px;
	color: $white;
	transition: background-color $transition;

	&:hover {
		background: $link-hover-color;
	}
}
