.modal {
	&-content {
		border: none;
		border-radius: 8px;

		@include box-shadow;
	}

	&-header {
		border-bottom: none;
		border-radius: $border-radius $border-radius 0 0;
		padding: 2rem 2.3rem 1rem;

		.close {
			padding: .5rem;
			font-size: 17px;
			margin-top: -1.5rem;
			margin-right: -1.5rem;
		}
	}

	&-title {
		margin-top: 0;
		font-weight: bold;
		font-family: $font-family-secondary;
		font-size: 1.9rem;
	}

	&-body {
		padding: 0 2.3rem 1rem;
		.forgot-pass{
			display: block;
			margin-top: -15px;
		}
	}

	&-footer {
		border-top: none;
		border-radius: 0 0 $border-radius $border-radius;
		padding: 0 2.3rem 1.5rem;
		display: block;
		.row{
			margin-left: -15px;
			margin-right: -15px;
		}
		.btn-base{
			width: 100%;
		}
		.req-all{
			font-size: 1rem;
			line-height: 17px;
			display: block;
			padding-top: 2px;
		}
		& > *{
			margin:0;
		}
	}
}

.close {
	font-size: 16px;
	color: $primary;
	opacity: 1;

	&:not(:disabled):not(.disabled):focus,
	&:not(:disabled):not(.disabled):hover {
		color: $primary;
		opacity: 1;
	}
}

.modal-backdrop.show {
	opacity: .75;
}

//.stub-image {
//	background: #EBEBEB;
//	padding-bottom: 100%;
//	border-radius: 5px;
//}
