.pagination {
	margin: 0;
	font-weight: 500;

	.page-item {
		margin-bottom: 0;
		&.active{
			.page-link{
				background-color: transparent;
				color: #FF9B06;
			}
		}
		margin-right: 5px;
	}

	.page-link {
		min-width: 21px;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		padding: 0.15rem 0.4rem;
		border:0;
		&:focus {
			box-shadow: none;
		}
		&:hover{
			background-color: transparent;
		}
		img{
			display: block;
		}
	}

	&-button {}

	&-number {
		max-width: 120px;
	}
}
