.table {
  width: auto;

  thead{
    th{
      border-bottom:0;
      background: #404040;
      color: #fff;
      font-weight: 500;
    }
  }

  td, th{
    border-top: 0;
    padding: 1.1rem 0.9rem;
    min-width: 94px;
    border-right: 2px solid #fff;
  }

  tr:nth-child(even) td{
    background-color: #e9eff2;
  }
}

//.table-mobile {
//	@media (max-width: $screen-sm - 1) {
//		//border-top: 1px solid $primary;
//
//		thead {
//			display: none;
//		}
//
//		td {
//			padding: .5rem;
//			display: flex;
//			font-size: 13px;
//
//			&::before {
//				content: attr(data-heading);
//				width: 90px;
//				min-width: 90px;
//				font-size: 13px;
//				margin-right: .5rem;
//			}
//		}
//	}
//}
