.home-slider.pt-4
    .home-slider__slide.d-flex.row.w-auto.h-100
        .col-12.col-md-8.col-xl-9
            .home-slider__image.h-100.w-100.d-flex.flex-column.justify-content-end.align-items-start(style="background-image: url(images/home-slider-image.jpg)")
                img.home-slider__logo(src="images/home-slider-logo.png")
                .home-slider__text
                    span Новинки сентября
                    | от именитого бренда электроинструмента
        .d-none.d-md-block.col-md-4.col-xl-3
            .home-slider__product.d-flex.flex-column.justify-content-between.h-100
                .home-slider__product-image
                    img(src="images/home-slider-product.png")
                a.home-slider__product-title.pt-1.pb-2(href="") Дрель ударная ДУ-550Б <span>Вихрь (арт.: 72/8/6)</span>
                a.btn.btn-base.px-1(href="") Смотреть все новинки
    .home-slider__slide.d-flex.row.w-auto.h-100
        .col-12
            .home-slider__image.h-100.w-100.d-flex.flex-column.justify-content-end.align-items-start(style="background-image: url(images/home-slider-image.jpg)")
                img.home-slider__logo(src="images/home-slider-logo.png")
                .home-slider__text
                    span Новинки сентября
                    | от именитого бренда электроинструмента
    .home-slider__slide.d-flex.row.w-auto.h-100
        .col-12.col-md-8.col-xl-9
            .home-slider__image.h-100.w-100.d-flex.flex-column.justify-content-end.align-items-start(style="background-image: url(images/home-slider-image.jpg)")
                img.home-slider__logo(src="images/home-slider-logo.png")
                .home-slider__text
                    span Новинки сентября
                    | от именитого бренда электроинструмента
        .d-none.d-md-block.col-md-4.col-xl-3
            .home-slider__product.d-flex.flex-column.justify-content-between.h-100
                .home-slider__product-image
                    img(src="images/home-slider-product.png")
                a.home-slider__product-title.pt-1.pb-2(href="") Дрель ударная ДУ-550Б <span>Вихрь (арт.: 72/8/6)</span>
                a.btn.btn-base.px-1(href="") Смотреть все новинки
    .home-slider__slide.d-flex.row.w-auto.h-100
        .col-12.col-md-8.col-xl-9
            .home-slider__image.h-100.w-100.d-flex.flex-column.justify-content-end.align-items-start(style="background-image: url(images/home-slider-image.jpg)")
                img.home-slider__logo(src="images/home-slider-logo.png")
                .home-slider__text
                    span Новинки сентября
                    | от именитого бренда электроинструмента
        .d-none.d-md-block.col-md-4.col-xl-3
            .home-slider__product.d-flex.flex-column.justify-content-between.h-100
                .home-slider__product-image
                    img(src="images/home-slider-product.png")
                a.home-slider__product-title.pt-1.pb-2(href="") Дрель ударная ДУ-550Б <span>Вихрь (арт.: 72/8/6)</span>
                a.btn.btn-base.px-1(href="") Смотреть все новинки
