.home-about
    .h2 О компании ЭлектроТехСнаб
    .row
        .col-12.col-md-8.col-xl-9
            p Компания «Электротехснаб» — это профессиональный дистрибьютор электротехнической продукции на всей территории России, один из крупнейших поставщиков на Северо -Западе России. Склады в Вологде, Череповце, Вельске, Архангельске, Рыбинске, Боровичей, Великом Устюге, Новгороде помогают доставлять товар за 3 дня в любую точку.  Работаем с клиентами на условиях отсрочки платежа или факторинга, со строительными организациями по взаимозачёту. Заказ интересующей продукции через интернет-магазин.
        .col-12.col-md-4.col-xl-3
            ul.mb-0.ml-0.ml-xl-4
                li: a(href="") Наши парнеры
                li: a(href="") Вакансии
                li: a(href="") Написать нам