.home-fl_ul.mt-70
    .home-fl_ul__toggle.d-flex.d-md-block
        a.js-toggle-fl-ul.btn.btn-base.btn-large.px-4.flex-grow-1.active(href="javascript:;" data-tab="1") Для физических лиц
        a.js-toggle-fl-ul.btn.btn-base.btn-large.px-4.ml-1.ml-md-4.flex-grow-1(href="javascript:;" data-tab="2") Для организаций и ИП

    .home-fl_ul__tabs
        .home-fl_ul__tab.active(data-tab="1")
            .js-masonry-grid.row
                .masonry-item.col-12.col-md-6
                    .home-fl_ul__grid-item.type-1.pt-4.pb-4.px-3
                        h3 Кабели и аксессуары
                        .info Полный каталог IEK, TDM, Cabeltech, СПКБ
                        ul.cat-list
                            li: a(href="") Кабели/ Провода
                            li: a(href="") Кабеленесущие системы
                            li: a(href="") Кабельная арматура
                            li: a(href="") Короба монтажные
                            li: a(href="") Наконечники
                            li: a(href="") Удлинители

                .masonry-item.col-12.col-md-6
                    .home-fl_ul__grid-item.type-1.pt-4.pb-3.px-3
                        h3 Для дачи
                        .info Оборудование для электрификации частных построек, со сложными условиями эксплуатации
                        ul.cat-list
                            li: a(href="") Материалы
                            li: a(href="") Шкафы
                            li: a(href="") Счетчики
                            li: a(href="") Предохранители
                            li: a(href="") Рубильники
                            li: a(href="") Приборы управления и контроля
                            li: a(href="") Розетки/ Выключатели/ Звонки
                            li: a(href="") Электроизмерение

                .masonry-item.col-12.col-md-6
                    .home-fl_ul__grid-item.light.type-2.bg-center-right(style="background-color: #FFD37E; background-image: url(images/cat-bg-1.svg)")
                        .left-side.pt-4.pb-5.px-3
                            h3 Электромонтаж
                            .info Оборудование для электрификации квартир, домов, офисов, станций
                            ul.cat-list
                                li: a(href="") Материалы
                                li: a(href="") Шкафы
                                li: a(href="") Счетчики
                                li: a(href="") Розетки/ Выключатели/ Звонки
                                li: a(href="") Контакторы
                                li: a(href="") Пускатели
                                li: a(href="") Предохранители
                                li: a(href="") Рубильники
                                li: a(href="") Приборы управления и контроля
                                li: a(href="") Электроизмерение
                                li: a(href="") Инструменты

                .masonry-item.col-12.col-md-6
                    .home-fl_ul__grid-item.light.type-2.bg-center-right.bg-100(style="background-color: #3F5CAA; background-image: url(images/cat-bg-2.svg)")
                        .left-side.pt-4.pb-5.px-3
                            h3 Для дома
                            ul.cat-list
                                li: a(href="") Кабели/ Провода
                                li: a(href="") Осветительные устройства
                                li: a(href="") Услуги электрика
                                li: a(href="") Кабельная арматура
                                li: a(href="") Выключатели
                                li: a(href="") Щитки электрические

                .masonry-item.col-12.col-md-6
                    .home-fl_ul__grid-item.type-1.pt-4.pb-3.px-3
                        h3 Регуляторы
                        .info Для электросистем с высокой нагрузкой
                        ul.cat-list
                            li: a(href="") PECAHTA <span>(12)</span>
                            li: a(href="") ЗУБР <span>(12)</span>
                            li: a(href="") Штиль <span>(12)</span>
                            li: a(href="") Legrand <span>(12)</span>
                            li: a(href="") Новатек <span>(12)</span>
                            li: a(href="") Wester <span>(12)</span>

                .masonry-item.col-12.col-md-6
                    .home-fl_ul__grid-item.light.type-2.bg-bottom-right(style="background-color: #582B1B; background-image: url(images/cat-bg-3.svg)")
                        .left-side.pt-4.pb-5.px-3
                            h3 Для профессионалов
                            .info Многофункциональные инструменты
                            ul.cat-list
                                li: a(href="") Инструменты
                                li: a(href="") Предохранители
                                li: a(href="") Сварочное оборудование
                                li: a(href="") Электродвигатели
                                li: a(href="") Трансформаторы
                                li: a(href="") Средства электрозащиты

                .masonry-item.col-12.col-md-6
                    .home-fl_ul__grid-item.type-3.bg-cover(style="background-image: url(images/cat-bg-4.jpg)")
                        .left-side.pt-3.pb-4.px-3
                            h3 Розетки и выключатели
                            ul.cat-list.small-font
                                li: a(href="") Legrand Celiane (91)
                                li: a(href="") Legrand Valena (91)
                                li: a(href="") Legrand Plexo (91)
                                li: a(href="") Legrand Galea Life (91)
                                li: a(href="") Legrand Valena Life (91)
                                li: a(href="") Legrand Mosaic (91)
                                li: a(href="") Legrand Valena Allure (91)
                                li: a(href="") Legrand Etika (91)
                            img.left-image(src="images/brand-legrand.png")
                            a.btn.btn-base(href="") Перейти в каталог

                .masonry-item.col-12.col-md-6
                    .home-fl_ul__grid-item.type-4.bg-center-right(style="background-image: url(images/cat-bg-5.png)")
                        .left-side.pt-4.pb-4.px-3
                            h3 Светотехника
                            .info.dark Лампы <a href="">светодиодные,</a> <a href="">люминисцентные,</a> <a href="">накаливания</a>
                            img.left-image(src="images/brand-osram.png")
                            a.btn.btn-base(href="") Перейти в каталог


        .home-fl_ul__tab(data-tab="2")
            .home-fl_ul__ul-features.row.pb-4.mb-4
                .col-12.col-md-4.col-xl-2
                    .h6.mb-0 Персональные скидки
                    p.mb-0 Гибкое ценообразование
                .col-12.col-md-4.col-xl-2
                    .h6.mb-0 Личный менеджер
                    p.mb-0 На связи 7 дней  в неделю
                .col-12.col-md-4.col-xl-2
                    .h6.mb-0.d-inline.d-md-block Email информирование
                    p.mb-0.d-inline.d-md-block о статусах заказов
                .col-12.col-md-4.col-xl-2
                    .h6.mb-0.d-inline.d-md-block Оперативная доставка
                    p.mb-0.d-inline.d-md-block в любую точку города  и области
                .col-12.col-md-4.col-xl-2
                    .h6.mb-0.d-inline.d-md-block Свой автопарк
                    p.mb-0.d-inline.d-md-block Большегрузные  и малотонажные авто
                .col-12.col-md-4.col-xl-2.text-center
                    a.btn.btn-base.px-xl-2(href="") Стать клиентом
                    p.mb-0.mt-2 и получить скидку

            .row.line-height-1_6
                .col-12.col-md-6.row
                    .col-12.col-xl-4.pr-xl-2
                        | 14 прямых контрактов  с <a href="">производителями</a>
                    .col-12.col-xl-8.d-flex.flex-wrap.pl-xl-4
                        .home-fl_ul__brand-img.d-flex.align-items-center.justify-content-center.mr-1
                            img(src="images/brand-1.png")
                        .home-fl_ul__brand-img.d-flex.align-items-center.justify-content-center.mr-1
                            img(src="images/brand-2.png")
                        .home-fl_ul__brand-img.d-flex.align-items-center.justify-content-center.mr-1
                            img(src="images/brand-3.png")
                        .home-fl_ul__brand-img.d-flex.align-items-center.justify-content-center.mr-1
                            img(src="images/brand-4.png")
                .col-12.col-md-6.d-flex.mt-2.mt-md-0
                    .home-fl_ul__blue.mr-3 Собственные склады
                    p.mb-0 В Вологде, Череповце, Вельске, Архангельске, Рыбинске, Боровичей, Великом Устюге, Новгороде

            ul.home-fl_ul__ul-cats
                li: a(href="") Метизы, крепёж
                li: a(href="") Лампы, LED лента
                li: a(href="") Светильники / Лента LED / Аксессуары
                li: a(href="") Кабель провод
                li: a(href="") Кабель-канал, Трубы, Лотки
                li: a(href="") Аппаратура защиты модульная
                li: a(href="") Шкафы / Корпуса / НКУ / Аксессуары
                li: a(href="") Счетчики электроэнергии
                li: a(href="") Розетки / Выключатели / Коробки / Звонки / Таймеры
                li: a(href="") Удлинители / Колодки / Вилки / Разъёмы
                li: a(href="") Батарейки / Аккумуляторы
                li: a(href="") Арматура кабельная (СИП, ЛЭП) / муфты / наконечники
                li: a(href="") Электромонтажные материалы
                li: a(href="") Контакторы / Рубильники / Выключатели нагрузки
                li: a(href="") Устройства защиты / контроля / управления
                li: a(href="") Электронагревательное оборудование
                li: a(href="") Инструмент
                li: a(href="") Электродвигатели / Вентиляторы / Насосы
                li: a(href="") Пожарно-охранное оборудование
                li: a(href="") Средства электрозащиты Оборудование 6-10 кВ
