.home-you-see.mt-70
    .h2 Вы смотрели
    .you-see_slider.row.w-auto
        .product__preview.h-100
            .inner.h-100
                a.product-image(href="")
                    img(src="images/product-preview-1.png")
                .fav-row.d-flex.justify-content-between.align-items-center
                    .product-specials.d-flex.align-items-center
                        .type.special.mr-1 Распродажа
                        .sale -25%
                    a.js-add-fav(href="javascript:;"): i.icon-info
                a.product-title(href="") Кабель телевизионный RG 6U.
                .code-row.d-flex
                    .code.mr-2 Код: 0403 187
                    .stock В наличии 109 м
                .price-row.d-flex.align-items-center.justify-content-between
                    .price-side
                        .d-flex.align-items-baseline
                            .price 798,10 ₽
                            .old-price 1 098,10 ₽
                        .offline-price Розница 1 598,10 ₽
                .buttons-row.d-flex.justify-content-between
                    .counter.js-counter.mr-1.h-100
                        .counter-minus
                        .counter-plus
                        input.form-control.counter-input(value="888" data-min="1")
                    button.btn.btn-base.flex-grow-1
                        i.icon-info.mr-1
                        | В корзину

        .product__preview.h-100
            .inner.h-100
                a.product-image(href="")
                    img(src="images/product-preview-2.png")
                .fav-row.d-flex.justify-content-between.align-items-center
                    .product-specials.d-flex.align-items-center
                        .sale -40%
                    a.js-add-fav(href="javascript:;"): i.icon-info
                a.product-title(href="") Кабель телевизионный RG 6U.
                .code-row.d-flex
                    .code.mr-2 Код: 0403 187
                    .stock В наличии 109 м
                .price-row.d-flex.align-items-center.justify-content-between
                    .price-side
                        .d-flex.align-items-baseline
                            .price 798,10 ₽
                            .old-price 1 098,10 ₽
                        .offline-price Розница 1 598,10 ₽
                    .addition-price.text-right
                        .price-type Есть отрезки
                        .price 44,74 ₽/м
                .buttons-row.d-flex.justify-content-between
                    .counter.js-counter.mr-1.h-100
                        .counter-minus
                        .counter-plus
                        input.form-control.counter-input(value="1" data-min="1")
                    button.btn.btn-base.flex-grow-1
                        i.icon-info.mr-1
                        | В корзину

        .product__preview.h-100
            .inner.h-100
                a.product-image(href="")
                    img(src="images/product-preview-3.png")
                .fav-row.d-flex.justify-content-between.align-items-center
                    .product-specials.d-flex.align-items-center
                        .type.hit.mr-1 Хит
                    a.js-add-fav(href="javascript:;"): i.icon-info
                a.product-title(href="") Кабель телевизионный RG 6U.
                .code-row.d-flex
                    .code.mr-2 Код: 0403 187
                    .stock В наличии 109 м
                .price-row.d-flex.align-items-center.justify-content-between
                    .price-side
                        .d-flex.align-items-baseline
                            .price 798,10 ₽
                            .old-price 1 098,10 ₽
                        .offline-price Розница 1 598,10 ₽
                .buttons-row.d-flex.justify-content-between
                    .counter.js-counter.mr-1.h-100
                        .counter-minus
                        .counter-plus
                        input.form-control.counter-input(value="1" data-min="1")
                    button.btn.btn-base.flex-grow-1
                        i.icon-info.mr-1
                        | В корзину

        .product__preview.h-100
            .inner.h-100
                a.product-image(href="")
                    img(src="images/product-preview-3.png")
                .fav-row.d-flex.justify-content-between.align-items-center
                    .product-specials.d-flex.align-items-center
                        .type.hit.mr-1 Хит
                    a.js-add-fav(href="javascript:;"): i.icon-info
                a.product-title(href="") Кабель телевизионный RG 6U.
                .code-row.d-flex
                    .code.mr-2 Код: 0403 187
                    .stock В наличии 109 м
                .price-row.d-flex.align-items-center.justify-content-between
                    .price-side
                        .d-flex.align-items-baseline
                            .price 798,10 ₽
                            .old-price 1 098,10 ₽
                        .offline-price Розница 1 598,10 ₽
                .buttons-row.d-flex.justify-content-between
                    .counter.js-counter.mr-1.h-100
                        .counter-minus
                        .counter-plus
                        input.form-control.counter-input(value="1" data-min="1")
                    button.btn.btn-base.flex-grow-1
                        i.icon-info.mr-1
                        | В корзину

        .product__preview.h-100
            .inner.h-100
                a.product-image(href="")
                    img(src="images/product-preview-3.png")
                .fav-row.d-flex.justify-content-between.align-items-center
                    .product-specials.d-flex.align-items-center
                        .type.hit.mr-1 Хит
                    a.js-add-fav(href="javascript:;"): i.icon-info
                a.product-title(href="") Кабель телевизионный RG 6U.
                .code-row.d-flex
                    .code.mr-2 Код: 0403 187
                    .stock В наличии 109 м
                .price-row.d-flex.align-items-center.justify-content-between
                    .price-side
                        .d-flex.align-items-baseline
                            .price 798,10 ₽
                            .old-price 1 098,10 ₽
                        .offline-price Розница 1 598,10 ₽
                .buttons-row.d-flex.justify-content-between
                    .counter.js-counter.mr-1.h-100
                        .counter-minus
                        .counter-plus
                        input.form-control.counter-input(value="1" data-min="1")
                    button.btn.btn-base.flex-grow-1
                        i.icon-info.mr-1
                        | В корзину
