.home-fl_ul
    .home-fl_ul__tabs
        a.js-toggle-fl-ul.btn.btn-base.btn-large.px-4.active(href="javascript:;" data-tab="1") Для физических лиц
        a.js-toggle-fl-ul.btn.btn-base.btn-large.px-4.ml-4(href="javascript:;" data-tab="2") Для организаций и ИП