// shadow
.shadow-bg{
  background: rgba(29, 29, 29, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 10;
}
.shadow-bg-active{
  z-index: 101;
  position: relative;
  .shadow-bg{
    display: block;
  }
  .header{
    z-index: 102;
  }
}

// header
.header{
  background: #FFFFFF;
}
.header__topline{
  border-bottom: 1px solid #E9EFF2;
  font-size: 12px;
  i[class^=icon-]{
    font-size: 11px;
    vertical-align: middle;
  }
  i.icon-place{
    font-size: 14px;
  }

  .header__user-block{
    i.icon-avatar{
      color: $primary;
      font-size: 16px;
    }
  }

  .dropdown-active{
    i.icon-dropdown{
      transform: rotate(180deg);
      display: inline-block;
    }
  }
}

.header__logoline{
  .container > div{
    border-bottom: 1px solid #E9EFF2;
  }
}
.header__logo{
  flex-shrink: 0;
  img{
    width: 100%;
  }
}

.header__store-info{
  width: 213px;
  font-size: 12px;
  line-height: 14px;
}
.header__shop-menu{
  a{
    color: $body-color;
    display: block;
    width: 62px;
    flex-shrink: 0;
    &:hover{
      color: $link-hover-color;
    }
    +a{
      margin-left: 10px;
    }
    .icons-block{
      display: block;
      font-size: 20px;
      position: relative;
      padding-top: 4px;
      .counter{
        position: absolute;
        width: 18px;
        height: 18px;
        left: calc(50% - 18px/2 + 14px);
        top: 0px;
        background: linear-gradient(180deg, #FF5F1B -6.25%, #FF0000 259.72%);
        border-radius: 50px;
        font-size: 9px;
        text-align: center;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
      }
    }
    .label{
      font-size: 12px;
      line-height: 14px;
      font-weight: 500;
    }

    &.mobile-profile{
      &.dropdown-active{
        color: #FF5F1B;
        .icons-block{
          i[class^=icon-]{
            &::before{
              content: "\e91e";
            }
          }
        }
      }
    }
  }
}
.header__search{
  width: 512px;
  box-sizing: border-box;
  position: relative;
  height: 50px;
  input.form-control{
    padding-right: 77px;
  }
  button.btn{
    width: 77px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.header__menuline{
  position: relative;
}
.h_menuline{
  background: linear-gradient(180deg, #0F9BCE -2.17%, #0581BF 126.56%);
  box-shadow: 0px 6px 20px rgba(116, 116, 116, 0.53);
  border-radius: 8px;
  height: 56px;
  overflow: hidden;
}
.h_menuline__link{
  flex-grow: 1;
  color: #FFFFFF;
  .h_menuline__icon{
    width: 2rem;
    text-align: center;
  }
  &:visited{
    color: #FFFFFF;
  }
  &:hover{
    background: $link-hover-color;
    color: #FFFFFF;
    transition: 0.15s ease-in-out;
  }
  &.active{
    background: $white;
    color: #FF5F1B;
    .h_menuline__info, .h_menuline__icon{
      background: -webkit-linear-gradient(180deg, #FF5F1B -6.25%, #FF0000 259.72%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .h_menuline__icon{
      i[class^=icon-]{
        font-size: 18px;
        &::before{
          content: "\e91e"
        }
      }
    }
  }
}
.h_menuline__icon{
  margin-right: 5px;
  font-size: 23px;
}
.h_menuline__info{
  .label{
    font-size: 16px;
    line-height: 1.2;
    font-weight: 600;
  }
  .info{
    font-size: 10px;
    line-height: 12px;
  }
}

.h_menuline__mobile-link{
  i[class^="icon-"]{
    width: 36px;
    text-align: center;
  }
  &.active{
    color: #FF5F1B;
    i[class^="icon-"]{
      &::before{
        content: "\e91e";
      }
    }
  }
}

.dropdown-menu{
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  box-shadow: 0px 6px 20px rgba(116, 116, 116, 0.53);
  border-radius: 8px;
  top: calc(100% + 0.5rem);
  z-index: 103;
  margin: 0;
  display: none;
  max-width: 100%;
  &.active{
    display: block;
  }
}

.header__city-select{
  left: 0;
  padding: 14px 15px;
  width: 255px;
  p{
    font-size: 12px;
    line-height: 14px;
  }
  .city-list{
    list-style: none;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0;
    li{
      margin-bottom: 4px;
      a{
        line-height: 1.6;
        &.active{
          color: $body-color;
        }
      }
    }
  }
}

.header__managers{
  padding: 18px 19px 29px;
  .manager-item{
    +.manager-item{
      margin-top: 25px;
    }
    .avatar{
      background-position: center;
      background-size: cover;
      width: 45px;
      height: 45px;
      border-radius: 100%;
      margin-right: 10px;
      &.no-avatar{
        background-image: url('images/no-avatar.svg');
      }
    }
    .manager-info{
      .manager-name {
        font-weight: 500;
        max-width: 160px;
      }
      .manager-email{
        i[class^=icon-]{
          font-size: 10px;
          display: inline-block;
          vertical-align: middle;
        }
        .value{
          line-height: 1.6;
        }
      }
      .manager-phone{
        i[class^=icon-]{
          font-size: 14px;
          display: inline-block;
          vertical-align: middle;
        }
        .value{
          line-height: 1.6;
        }
      }
    }
  }
}

.header__profile {
  padding: 17px 12px 10px;
  right: 0;
  left: auto;

  .profile-status {
    padding: 0 5px;
    margin-bottom: 20px;
    line-height: 1.6;
    color: $secondary;

    span {
      color: $body-color;
    }
  }

  .profile-menu {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      + li {
        margin-top: 10px;
      }

      .profile-link {
        color: $body-color;
        line-height: 1.6;

        &:hover {
          color: $link-hover-color;
        }

        i[class^=icon-] {
          margin-right: 10px;
          font-size: 22px;
        }

        .counter {
          width: 18px;
          height: 18px;
          background: linear-gradient(180deg, #FF5F1B -6.25%, #FF0000 259.72%);
          border-radius: 50px;
          font-size: 9px;
          text-align: center;
          color: #FFFFFF;
          display: inline-block;
          font-weight: bold;
          vertical-align: middle;
          margin-left: 5px;
          padding: 2px 0;
        }
      }

      &:last-child {
        margin-top: 16px;
        padding-top: 11px;
        border-top: 1px solid #DDDDDD;
      }

      &.header__managers{
        display: none;
        padding: 15px 12px 22px;
        margin-left: -12px;
        margin-right: -12px;
        background: #FAFAFA;
      }
    }
  }
}


@include media-breakpoint-down(lg) {
  .header__shop-menu{
    a{
      width: 40px;
    }
  }
  .header__topline {
    .header__user-block {
      i.icon-avatar {
        font-size: 28px;
        color: $body-color;
      }
    }
    .user-header__info{
      .user-name{
        color: $body-color;
        &:hover{
          color: $link-hover-color;
        }
      }
      .user-company{
        font-weight: 500;
        font-size: 9px;
        line-height: 11px;
        color: $secondary;
      }
    }
  }
  .header__search {
    height: 38px;
  }
  .header__topline {
    border-bottom: none;
  }
  .header__logoline {
    border-bottom: 1px solid #E9EFF2;
    .container {
      > div {
        border-bottom: none;
      }
    }
  }

  .header__managers.dropdown-menu{
    display: none !important;
  }

  .header__city-select{
    left: 50%;
    margin-left: -127px;
  }
}
@include media-breakpoint-down(md) {
  .header__search {
    width: 354px;
  }
}
@include media-breakpoint-down(sm) {
  .header__profile{
    top: calc(122px - 0.5rem);
  }
  .header__city-select{
    left: auto;
    right: 0;
    margin-left: 0;
  }
}
@include media-breakpoint-down(xs) {
  .header__profile{
    width: 100%;
    border-radius: 0;
  }
}
