.mt-70{
  margin-top: 70px;
}
.line-height-1_6{
  line-height: 1.6;
}

.home-fl_ul{
}
.home-fl_ul__toggle{
  margin-bottom: 34px;
  a.active,a.active:hover,a.active:hover:active{
    background: linear-gradient(180deg, #FF5F1B -6.25%, #FF0000 259.72%);
    box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.15);
  }
}


.home-fl_ul__tab{
  display: none;
  &.active{
    display: block;
  }
  .masonry-item{
    margin-bottom: 30px;
  }
}

.home-fl_ul__ul-features{
  border-bottom: 1px solid #E9EFF2;
  margin-top: -26px;
  >div{
    margin-top: 26px;
  }
  .h6{
    line-height: 22px;
  }
}

.home-fl_ul__grid-item{
  background: #FFFFFF;
  box-shadow: 0px 6px 20px rgba(228, 228, 228, 0.73);
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: auto 90%;
  .info{
    color: $secondary;
    margin-top: 4px;
    font-size: 12px;
    line-height: 14px;
  }
  .cat-list{
    list-style: none;
    padding: 0;
    column-count: 2;
    column-gap: 15px;
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 1.6;
    span{
      color: $body-color;
    }
    li{
      margin-bottom: 10px;
    }
    &.small-font{
      font-weight: 500;
      font-size: 9px;
      line-height: 11px;
    }
  }
  &.light{
    *{
      color: #FFFFFF;
      &:visited{
        color: #FFFFFF;
      }
      &:hover{
        color: #FFFFFF;
      }
    }
  }
  &.bg-cover{
    background-size: cover;
    background-position: right top;
  }
  &.bg-bottom-right{
    background-position: right 5px bottom;
  }
  &.bg-center-right{
    background-position: right 5px center;
  }
  &.bg-100{
    background-size: auto 100%;
  }
  .left-side{
    border-radius: 5px;
    width: 50%;
  }
  &.type-1{
    .cat-list{
      column-count: 3;
    }
  }
  &.type-2{
    min-height: 242px;
    .left-side{
      background: rgba(172, 203, 238, 0.3);
      backdrop-filter: blur(10px);
      width: 356px;
      min-height: 242px;
    }
    .cat-list{
      margin-top: 20px;
    }
  }
  &.type-3{
    .left-side{
      background: #FFFFFF;
      width: 267px;
    }
    .left-image{
      margin-top: 10px;
      margin-bottom: 10px;
      max-width: 90%;
    }
  }
  &.type-4{
    background-position: right 24px center;
    background-size: 235px auto;
    .left-image{
      margin-top: 17px;
      margin-bottom: 27px;
      max-width: 90%;
    }
  }
}

.home-fl_ul__brand-img{
  width: 38px;
  height: 38px;
  display: flex;
  img{
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
}
.home-fl_ul__blue{
  color: #4285F4;
}

.home-fl_ul__ul-cats{
  list-style: none;
  padding-left: 0;
  margin-top: 66px;
  font-weight: 500;
  font-size: 17px;
  column-count: 4;
  column-gap: 30px;
  li{
    margin-bottom: 30px;
  }
}


@include media-breakpoint-only(xl) {
  .home-fl_ul__ul-features {
    .btn {
      width: 100%;
    }
  }
}

@include media-breakpoint-down(lg) {
  .home-fl_ul{
    margin-top: 50px;
  }
  .home-fl_ul__grid-item{
    background-image: none !important;
    .info{
    }
    .cat-list{
      span{
      }
      li{
      }
      &.small-font{
      }
    }
    .left-side{
      width: 100%;
    }
    &.type-1{
      .cat-list{
        column-count: 2;
      }
    }
    &.type-2{
      .left-side{
        width: 100%;
      }
    }
    &.type-3{
      .left-side{
        width: 100%;
      }
    }
    &.type-4{
    }
  }

  .home-fl_ul__ul-cats{
    column-count: 3;
  }
}
@include media-breakpoint-down(md) {
  .home-fl_ul__ul-cats{
    column-count: 2;
  }
  .home-fl_ul__toggle{
    a{
      font-size: 16px;
      line-height: 19px;
      &:not(.active){
        border: 1px solid $primary;
        color: $primary;
        background: $white;
        &:hover {
          border-color: $link-hover-color;
          color:  $link-hover-color;
          background: $white;
        }
        &:active{
          background: $white;
        }
      }
    }
  }

}
@include media-breakpoint-down(sm) {
  .home-fl_ul__ul-cats{
    column-count: 1;
  }
}