section.pb-5
	.row
		.col-md-6.col-lg-5.mb-3.mb-lg-0
			h2.mt-0.mb-4 Всплывающее окно
			//- .modal.fade(tabindex="-1" role="dialog")
			.modal-dialog(role="document")
				.modal-content
					.modal-header
						h4.modal-title Войти на сайт
						button.close(data-dismiss="modal")
							i.icon-close

					.modal-body.b
						.form-group
							label(for="inputModalText1") Email
							input.form-control#inputModalText1(type="email")

						.form-group
							label(for="inputModalText2") Пароль
							<div class="input-group">
							<input class="form-control" type="password">
							<div class="input-group-append"><a class="input-group-text js-drop-eye" href="javascript:void(0);"><i class="icon-eye"></i></a></div>
							</div>

						div.forgot-pass.mb-2
							a(href="#") Забыли пароль?

					.modal-footer
						.row
							.col-5.mb-3
								button.btn.btn-base Сохранить

							.col-6.mb-3
								span.req-all Все поля обязательны для заполнения

						div Нет учетной записи?
							a(href="#")  Зарегистрироваться

		.col-md-6.col-lg-7.mb-3.mb-lg-0
			h2.mt-0.mb-4 Заглушки
			.row
				.col-lg-5.mb-3
					img(src="images/stub.svg" alt="")

				.col-lg-7
					img(src="images/stub-user.svg" alt="")