section.pb-5
	h2.mt-0.mb-4 Back
	a.icon.icon-arrow-back(href="#") Вернуться к списку заказов
	a.back-to-top.js-back-to-top(href="javascript:void(0);") Вверх

	<b>€ 10</b> <input id="ex2" type="text" class="span2 js-span-data-range" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]"/> <b>€ 1000</b>
