section.pb-5
	h2.mt-0.mb-4 Back
	a.icon.icon-arrow-back(href="#") Вернуться к списку заказов
	a.back-to-top.js-back-to-top(href="javascript:void(0);") Вверх

	.row
		.col-4
			.range-slider-price-wrap
				.range-slider-price-digits
					.rsp-digits-left.js-rsp-digits-left
					.rsp-digits-right.js-rsp-digits-right
				.range-slider-price.js-range-slider-price
