section.pb-5
	h2.mt-0.mb-4 Таблица
	.table-responsive
		table.table
			thead
				tr
					th Title
					th Title
					th Title

			tbody
				tr
					td Text
					td Text
					td Text

				tr
					td Text
					td Text
					td Text

				tr
					td Text
					td Text
					td Text