footer.footer
	.container.posrel
		.footer-all-categories
			.foo-ac-container
				a.foo-ac-item(href="") Метизы, крепёж
				a.foo-ac-item(href="") Лампы, LED лента
				a.foo-ac-item(href="") Светильники / Лента LED / Аксессуары
				a.foo-ac-item(href="") Кабель провод
				a.foo-ac-item(href="") Кабель-канал, Трубы, Лотки
				a.foo-ac-item(href="") Аппаратура защиты модульная
				a.foo-ac-item(href="") Шкафы / Корпуса / НКУ / Аксессуары
				a.foo-ac-item(href="") Счетчики электроэнергии
				a.foo-ac-item(href="") Розетки / Выключатели / Коробки / Звонки / Таймеры
				a.foo-ac-item(href="") Удлинители / Колодки / Вилки / Разъёмы
				a.foo-ac-item(href="") Батарейки / Аккумуляторы
				a.foo-ac-item(href="") Арматура кабельная (СИП, ЛЭП) / муфты / наконечники
				a.foo-ac-item(href="") Электромонтажные материалы
				a.foo-ac-item(href="") Контакторы / Рубильники / Выключатели нагрузки
				a.foo-ac-item(href="") Устройства защиты / контроля / управления
				a.foo-ac-item(href="") Электронагревательное оборудование
				a.foo-ac-item(href="") Инструмент
				a.foo-ac-item(href="") Электродвигатели / Вентиляторы / Насосы
				a.foo-ac-item(href="") Пожарно-охранное оборудование
				a.foo-ac-item(href="") Средства электрозащиты Оборудование 6-10 кВ
			.foo-ac-close-btn.js-foo-ac-close-btn

	.footer-menu-all-cat.js-footer-menu-all-cat
		.container.fm-ac-container Весь каталог
			.fm-ac-plus
				svg(width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg")
					path(fill-rule="evenodd" clip-rule="evenodd" d="M10.9987 21.6663C16.89 21.6663 21.6654 16.8907 21.6654 10.9997C21.6654 8.17074 20.5417 5.4576 18.541 3.45719C16.541 1.45679 13.8275 0.333008 10.9987 0.333008C5.10742 0.333008 0.332031 5.10864 0.332031 10.9997C0.332031 16.8907 5.10742 21.6663 10.9987 21.6663ZM11.9987 9.99967H16.0586C16.6113 9.99967 17.0586 10.4474 17.0586 10.9997C17.0586 11.552 16.6113 11.9997 16.0586 11.9997H11.9987V16.0597C11.9987 16.612 11.5508 17.0597 10.9987 17.0597C10.4466 17.0597 9.9987 16.612 9.9987 16.0597V11.9997H5.9388C5.38672 11.9997 4.9388 11.552 4.9388 10.9997C4.9388 10.4474 5.38672 9.99967 5.9388 9.99967H9.9987V5.9397C9.9987 5.38745 10.4466 4.9397 10.9987 4.9397C11.5508 4.9397 11.9987 5.38745 11.9987 5.9397V9.99967Z" fill="white")




	.container
		.foo-manufacturers-slider
			a.foo-ms-item(href="")
				.foo-ms-item__pic
					img(src="images/manufacturers/abb.png", alt="")
				.foo-ms-item__products-count Товаров: 1 564
			a.foo-ms-item(href="")
				.foo-ms-item__pic
					img(src="images/manufacturers/tdm.png", alt="")
				.foo-ms-item__products-count Товаров: 1 564
			a.foo-ms-item(href="")
				.foo-ms-item__pic
					img(src="images/manufacturers/legrand.png", alt="")
				.foo-ms-item__products-count Товаров: 1 564
			a.foo-ms-item(href="")
				.foo-ms-item__pic
					img(src="images/manufacturers/schneider.png", alt="")
				.foo-ms-item__products-count Товаров: 1 564
			a.foo-ms-item(href="")
				.foo-ms-item__pic
					img(src="images/manufacturers/vihr.png", alt="")
				.foo-ms-item__products-count Товаров: 1 564
			a.foo-ms-item(href="")
				.foo-ms-item__pic
					img(src="images/manufacturers/ekf.png", alt="")
				.foo-ms-item__products-count Товаров: 1 564
			a.foo-ms-item(href="")
				.foo-ms-item__pic
					img(src="images/manufacturers/iek.png", alt="")
				.foo-ms-item__products-count Товаров: 1 564
			a.foo-ms-item(href="")
				.foo-ms-item__pic
					img(src="images/manufacturers/abb.png", alt="")
				.foo-ms-item__products-count Товаров: 1 564
			a.foo-ms-item(href="")
				.foo-ms-item__pic
					img(src="images/manufacturers/tdm.png", alt="")
				.foo-ms-item__products-count Товаров: 1 564
			a.foo-ms-item(href="")
				.foo-ms-item__pic
					img(src="images/manufacturers/legrand.png", alt="")
				.foo-ms-item__products-count Товаров: 1 564
			a.foo-ms-item(href="")
				.foo-ms-item__pic
					img(src="images/manufacturers/schneider.png", alt="")
				.foo-ms-item__products-count Товаров: 1 564
			a.foo-ms-item(href="")
				.foo-ms-item__pic
					img(src="images/manufacturers/vihr.png", alt="")
				.foo-ms-item__products-count Товаров: 1 564
			a.foo-ms-item(href="")
				.foo-ms-item__pic
					img(src="images/manufacturers/ekf.png", alt="")
				.foo-ms-item__products-count Товаров: 1 564
			a.foo-ms-item(href="")
				.foo-ms-item__pic
					img(src="images/manufacturers/iek.png", alt="")
				.foo-ms-item__products-count Товаров: 1 564

	.foo-about-us
		.container
			.row
				.foo-about-us-cooperation.col-md-4 Мы открыты к сотрудничеству, принимаем заказы на любой объем продукции.

				.foo-about-us-payment.col-md-2
					.foo-about-us-payment__title Принимаем к оплате
					.foo-about-us-payment-row
						.foo-about-us-payment-item
							img(src="images/foo-visa.png", alt="")
						.foo-about-us-payment-item
							img(src="images/foo-mc.png", alt="")
				.foo-about-us-links.col-md-2
					a(href="") Вакансии
					a(href="") Карта сайта
				.foo-about-us-contacts.col-md-2
					a(href="") Контакты
					a(href="") Написать нам
				.foo-about-us-socials.col-md-2
					.foo-au-social-item
						a.soc(href="#" target="_blank")
							i.icon-soc-vk
						.
							Мы Вконтакте
	.foo-botoom-line
		.container
			.row.justify-content-between
				.col-md-6
					a © Электротехснаб,
					.
						 2010—2019 г.
				.col-md-6
					a(href="") Создание сайта
					.
						-
					a(href="") Individ

a.back-to-top.js-back-to-top(href="javascript:void(0);") Вверх
