footer.footer
	.container.posrel
		.footer-all-categories
			.foo-ac-container
				a.foo-ac-item(href="") Метизы, крепёж
				a.foo-ac-item(href="") Лампы, LED лента
				a.foo-ac-item(href="") Светильники / Лента LED / Аксессуары
				a.foo-ac-item(href="") Кабель провод
				a.foo-ac-item(href="") Кабель-канал, Трубы, Лотки
				a.foo-ac-item(href="") Аппаратура защиты модульная
				a.foo-ac-item(href="") Шкафы / Корпуса / НКУ / Аксессуары
				a.foo-ac-item(href="") Счетчики электроэнергии
				a.foo-ac-item(href="") Розетки / Выключатели / Коробки / Звонки / Таймеры
				a.foo-ac-item(href="") Удлинители / Колодки / Вилки / Разъёмы
				a.foo-ac-item(href="") Батарейки / Аккумуляторы
				a.foo-ac-item(href="") Арматура кабельная (СИП, ЛЭП) / муфты / наконечники
				a.foo-ac-item(href="") Электромонтажные материалы
				a.foo-ac-item(href="") Контакторы / Рубильники / Выключатели нагрузки
				a.foo-ac-item(href="") Устройства защиты / контроля / управления
				a.foo-ac-item(href="") Электронагревательное оборудование
				a.foo-ac-item(href="") Инструмент
				a.foo-ac-item(href="") Электродвигатели / Вентиляторы / Насосы
				a.foo-ac-item(href="") Пожарно-охранное оборудование
				a.foo-ac-item(href="") Средства электрозащиты Оборудование 6-10 кВ
			.foo-ac-close-btn.js-foo-ac-close-btn

	.footer-menu-all-cat.js-footer-menu-all-cat
		.container.fm-ac-container Весь каталог
			.fm-ac-plus
				svg(width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg")
					path(fill-rule="evenodd" clip-rule="evenodd" d="M10.9987 21.6663C16.89 21.6663 21.6654 16.8907 21.6654 10.9997C21.6654 8.17074 20.5417 5.4576 18.541 3.45719C16.541 1.45679 13.8275 0.333008 10.9987 0.333008C5.10742 0.333008 0.332031 5.10864 0.332031 10.9997C0.332031 16.8907 5.10742 21.6663 10.9987 21.6663ZM11.9987 9.99967H16.0586C16.6113 9.99967 17.0586 10.4474 17.0586 10.9997C17.0586 11.552 16.6113 11.9997 16.0586 11.9997H11.9987V16.0597C11.9987 16.612 11.5508 17.0597 10.9987 17.0597C10.4466 17.0597 9.9987 16.612 9.9987 16.0597V11.9997H5.9388C5.38672 11.9997 4.9388 11.552 4.9388 10.9997C4.9388 10.4474 5.38672 9.99967 5.9388 9.99967H9.9987V5.9397C9.9987 5.38745 10.4466 4.9397 10.9987 4.9397C11.5508 4.9397 11.9987 5.38745 11.9987 5.9397V9.99967Z" fill="white")




	.container
		.foo-manufacturers-slider
			a.foo-ms-item(href="")
				.foo-ms-item__pic
					img(src="images/manufacturers/abb.png", alt="")
				.foo-ms-item__products-count Товаров: 1 564
			a.foo-ms-item(href="")
				.foo-ms-item__pic
					img(src="images/manufacturers/tdm.png", alt="")
				.foo-ms-item__products-count Товаров: 1 564
			a.foo-ms-item(href="")
				.foo-ms-item__pic
					img(src="images/manufacturers/legrand.png", alt="")
				.foo-ms-item__products-count Товаров: 1 564
			a.foo-ms-item(href="")
				.foo-ms-item__pic
					img(src="images/manufacturers/schneider.png", alt="")
				.foo-ms-item__products-count Товаров: 1 564
			a.foo-ms-item(href="")
				.foo-ms-item__pic
					img(src="images/manufacturers/vihr.png", alt="")
				.foo-ms-item__products-count Товаров: 1 564
			a.foo-ms-item(href="")
				.foo-ms-item__pic
					img(src="images/manufacturers/ekf.png", alt="")
				.foo-ms-item__products-count Товаров: 1 564
			a.foo-ms-item(href="")
				.foo-ms-item__pic
					img(src="images/manufacturers/iek.png", alt="")
				.foo-ms-item__products-count Товаров: 1 564
			a.foo-ms-item(href="")
				.foo-ms-item__pic
					img(src="images/manufacturers/abb.png", alt="")
				.foo-ms-item__products-count Товаров: 1 564
			a.foo-ms-item(href="")
				.foo-ms-item__pic
					img(src="images/manufacturers/tdm.png", alt="")
				.foo-ms-item__products-count Товаров: 1 564
			a.foo-ms-item(href="")
				.foo-ms-item__pic
					img(src="images/manufacturers/legrand.png", alt="")
				.foo-ms-item__products-count Товаров: 1 564
			a.foo-ms-item(href="")
				.foo-ms-item__pic
					img(src="images/manufacturers/schneider.png", alt="")
				.foo-ms-item__products-count Товаров: 1 564
			a.foo-ms-item(href="")
				.foo-ms-item__pic
					img(src="images/manufacturers/vihr.png", alt="")
				.foo-ms-item__products-count Товаров: 1 564
			a.foo-ms-item(href="")
				.foo-ms-item__pic
					img(src="images/manufacturers/ekf.png", alt="")
				.foo-ms-item__products-count Товаров: 1 564
			a.foo-ms-item(href="")
				.foo-ms-item__pic
					img(src="images/manufacturers/iek.png", alt="")
				.foo-ms-item__products-count Товаров: 1 564

	.foo-about-us
		.container
			.row
				.foo-about-us-cooperation.col-6.col-md-12.col-xl-4
					.
						Мы открыты к сотрудничеству, принимаем заказы&nbsp;на любой объем продукции.

				.foo-about-us-payment.col-6.col-md-4.col-xl-2
					.foo-about-us-payment__title Принимаем к оплате
					.foo-about-us-payment-row
						.foo-about-us-payment-item
							img(src="images/foo-visa.png", alt="")
						.foo-about-us-payment-item
							img(src="images/foo-mc.png", alt="")
				.foo-about-us-links.col-6.col-md-2.col-xl-2
					a(href="") Вакансии
					a(href="") Карта сайта
				.foo-about-us-contacts.col-6.col-md-3.col-xl-2
					a(href="") Контакты
					a(href="")
						svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
							path(fill-rule="evenodd" clip-rule="evenodd" d="M6.50043 0.902344C3.31545 0.902344 0.722656 3.17013 0.722656 5.9579C0.722656 8.74567 3.31545 11.0135 6.50043 11.0135C7.09632 11.0128 7.6893 10.9301 8.26266 10.7679L10.2596 12.039C10.3707 12.1103 10.5117 12.1153 10.6275 12.0521C10.7434 11.9889 10.8155 11.8676 10.8157 11.7357V9.30541C11.7285 8.42974 12.2493 7.22276 12.2601 5.9579C12.2782 3.17013 9.68541 0.902344 6.50043 0.902344ZM8.92709 4.51345C9.12656 4.51345 9.2882 4.35179 9.2882 4.15234C9.2882 3.9529 9.12656 3.79123 8.92709 3.79123H4.07378C3.87436 3.79123 3.71267 3.9529 3.71267 4.15234C3.71267 4.35179 3.87436 4.51345 4.07378 4.51345H8.92709ZM5.14627 7.40234C4.94685 7.40234 4.78516 7.56401 4.78516 7.76345C4.78516 7.9629 4.94685 8.12457 5.14627 8.12457H7.8546C8.05402 8.12457 8.21571 7.9629 8.21571 7.76345C8.21571 7.56401 8.05402 7.40234 7.8546 7.40234H5.14627ZM3.97266 5.59679H9.02821C9.22763 5.59679 9.38932 5.75845 9.38932 5.9579C9.38932 6.15734 9.22763 6.31901 9.02821 6.31901H3.97266C3.77323 6.31901 3.61155 6.15734 3.61155 5.9579C3.61155 5.75845 3.77323 5.59679 3.97266 5.59679ZM10.1007 9.15013C10.1011 9.05002 10.1429 8.95457 10.2163 8.88651C11.0533 8.14105 11.5393 7.07866 11.556 5.9579C11.556 3.56735 9.2882 1.62457 6.50043 1.62457C3.71267 1.62457 1.44488 3.56735 1.44488 5.9579C1.44488 8.34845 3.71267 10.2912 6.50043 10.2912C7.08323 10.2918 7.66276 10.2041 8.21933 10.0312C8.32023 9.99999 8.42977 10.0145 8.51903 10.071L10.1007 11.0785V9.15013Z" fill="#1CA4E4")
						.
							Написать нам
				.foo-about-us-socials.col-12.col-md-3.col-xl-2
					a.foo-au-social-item(href="#" target="_blank")
						.soc
							i.icon-soc-vk
						.
							Мы Вконтакте
	.foo-botoom-line
		.container
			.d-flex.justify-content-between
				.foo-botoom-line-left
					a(href="") © Электротехснаб
					| ,
					=" "
					span.d-block.d-sm-inline 2010—2019 г.
				.foo-botoom-line-right
					a(href="") Создание сайта
					span.foo-bl-r-delimiter —
					a(href="") Individ

a.back-to-top.js-back-to-top(href="javascript:void(0);") Вверх
