header.header
	.header__topline.py-2
		.container
			.d-flex.justify-content-between.align-items-center
				.left-side.d-flex.align-items-center
					a.js-city-select(href="javascript:;")
						i.icon-place.mr-1
						| Великий Новгород
					.phone.mx-2 +7 (8162) 535-051
					.header__menu.mx-2
						a.mx-2(href="") Контакты
						a.mx-2(href="") Доставка и оплата
						a.mx-2(href="") Возврат
						a.mx-2(href="") О компании
					a.contact-link.mx-2(href="")
						//- заменить иконку
						i.icon-info.mr-1
						| Написать нам

				.right-side.d-flex.align-items-center
					a.js-header-managers(href="javascript:;")
						| Личные менеджеры
						i.icon-dropdown.ml-1
					.header__user-block.js-user-header.d-flex.ml-4
						//- заменить иконку
						i.icon-info.mr-1
						.user-header__info
							a.user-name(href="javascript:;")
								| Павел Константинопольский
								i.icon-dropdown.ml-1
							.user-company ООО «Кабельный альянс»

	.header__logoline.py-3
		.container
			.d-flex.align-items-center.justify-content-between
				a.header__logo.d-flex.align-items-center(href="")
					img(src="images/logo.svg" alt="")
				.header__store-info.ml-4
					| Интернет-магазин
					=' '
					a(href="") Проводов,
					=' '
					a(href="") Аксессуаров,
					=' '
					a(href="") Регуляторов,
					=' '
					a(href="") Розеток,
					=' '
					a(href="") Светотехники
					=' '
					| и еще 32 категорий
				form.header__search.d-flex.align-items-center.ml-3
					input.form-control.h-100(placeholder="Поиск по наименованию, артикулу")
					//- заменить иконку
					button.btn.btn-base.h-100: i.icon-info
				.header__shop-menu.d-flex.align-items-center.ml-4
					//- заменить иконки
					a.text-center(href="")
						.icons-block
							i.icon-info
						.label Заказы
					a.text-center(href="")
						.icons-block
							i.icon-info
							.counter 99
						.label Избранное
					a.text-center(href="")
						.icons-block
							i.icon-info
							.counter 99
						.label Корзина

	.header__menuline.py-3
		.container
			.h_menuline.d-flex.justify-content-between
				//- заменить иконки
				a.h_menuline__link.js-catalog-menu.d-flex.align-items-center.justify-content-center(href="javascript:;")
					.h_menuline__icon: i.icon-info
					.h_menuline__info
						.label Каталог
						.info 12 583 товара
				a.h_menuline__link.d-flex.align-items-center.justify-content-center(href="")
					.h_menuline__icon: i.icon-info
					.h_menuline__info
						.label Распродажа
						.info скидки до 70%
				a.h_menuline__link.d-flex.align-items-center.justify-content-center(href="")
					.h_menuline__icon: i.icon-info
					.h_menuline__info
						.label Новинки
						.info 1 000 товаров
				a.h_menuline__link.d-flex.align-items-center.justify-content-center(href="")
					.h_menuline__icon: i.icon-info
					.h_menuline__info
						.label Лучшие предложения
						.info 1 000 товаров
				a.h_menuline__link.d-flex.align-items-center.justify-content-center(href="")
					.h_menuline__icon: i.icon-info
					.h_menuline__info
						.label Акции
						.info 7 брендов
				a.h_menuline__link.d-flex.align-items-center.justify-content-center(href="")
					.h_menuline__icon: i.icon-info
					.h_menuline__info
						.label Поставщики
						.info 37 брендов