.mega-menu
    .container
        .row
            .col-3.left-side.pr-0
                ul.mega-menu__main-cats
                    li: a.js-mega-menu__cat-select.active(href="" data-cat="0") Метизы, крепёж
                    li: a.js-mega-menu__cat-select(href="" data-cat="1") Лампы, LED лента
                    li: a.js-mega-menu__cat-select(href="" data-cat="2") Светильники / Лента LED / Аксессуары
                    li: a.js-mega-menu__cat-select(href="" data-cat="3") Кабель провод
                    li: a.js-mega-menu__cat-select(href="" data-cat="4") Кабель-канал, Трубы, Лотки
                    li: a.js-mega-menu__cat-select(href="" data-cat="5") Аппаратура защиты модульная
                    li: a.js-mega-menu__cat-select(href="" data-cat="6") Шкафы / Корпуса / НКУ / Аксессуары
                    li: a.js-mega-menu__cat-select(href="" data-cat="7") Счетчики электроэнергии
                    li: a.js-mega-menu__cat-select(href="" data-cat="8") Розетки / Выключатели / Коробки / Звонки / Таймеры
                    li: a.js-mega-menu__cat-select(href="" data-cat="9") Удлинители / Колодки / Вилки / Разъёмы
                    li: a.js-mega-menu__cat-select(href="" data-cat="10") Батарейки / Аккумуляторы
                    li: a.js-mega-menu__cat-select(href="" data-cat="11") Арматура кабельная (СИП, ЛЭП) / муфты / наконечники
                    li: a.js-mega-menu__cat-select(href="" data-cat="12") Электромонтажные материалы
                    li: a.js-mega-menu__cat-select(href="" data-cat="13") Контакторы / Рубильники / Выключатели нагрузки
                    li: a.js-mega-menu__cat-select(href="" data-cat="14") Устройства защиты / контроля / управления
                    li: a.js-mega-menu__cat-select(href="" data-cat="15") Электронагревательное оборудование
                    li: a.js-mega-menu__cat-select(href="" data-cat="16") Инструмент
                    li: a.js-mega-menu__cat-select(href="" data-cat="17") Электродвигатели / Вентиляторы / Насосы
                    li: a.js-mega-menu__cat-select(href="" data-cat="18") Пожарно-охранное оборудование
                    li: a.js-mega-menu__cat-select(href="" data-cat="19") Средства электрозащиты
                    li: a.js-mega-menu__cat-select(href="" data-cat="20") Оборудование 6-10 кВ

            .col-9.right-side
                ul.mega-menu__sub-cats.d-flex.flex-column.flex-wrap.active(data-cat="0")
                    li.col-4
                        a.h5.mega-menu__sub-cat-title(href="") Лента LED
                        ul.mega-menu__sub-cat-cats
                           li: a(href="") Лента открытая IP20, 12V
                           li: a(href="") Лента защищённая IP65, 12V
                           li: a(href="") Блоки питания для ленты 12V
                           li: a(href="") Коннекторы для ленты 12V
                           li: a(href="") Контроллеры для ленты 12V
                           li: a(href="") Лента на напряжение 220В
                           li: a(href="") Профили

                    li.col-4
                        a.h5.mega-menu__sub-cat-title(href="") Патроны / дросселя / ЭПРА
                        ul.mega-menu__sub-cat-cats
                            li: a(href="") ПРА для люм. ламп
                            li: a(href="") ПРА для ламп ДНаТ
                            li: a(href="") ПРА для ламп ДРЛ
                            li: a(href="") Патроны
                            li: a(href="") Патроны-переходники

                    li.col-4
                        a.h5.mega-menu__sub-cat-title(href="") Для производственных и складских помещений
                        ul.mega-menu__sub-cat-cats
                            li: a(href="") Светодиодные (LED)
                            li: a(href="") Люминесцентные
                            li: a(href="") Подвесные
                            li: a(href="") Рассеиватели

                    li.col-4
                        a.h5.mega-menu__sub-cat-title(href="") Для общественных и бытовых помещений
                        ul.mega-menu__sub-cat-cats
                            li: a(href="") Офисные потолочные LED
                            li: a(href="") Встраиваемые (даунлайты)
                            li: a(href="") Настенно-потолочные
                            li: a(href="") Линейные настенно-потолочные
                            li: a(href="") Пыле-влагозащищённые
                            li: a(href="") ЖКХ LED
                            li: a(href="") Банные (термостойкие)
                            li: a(href="") Подвесные
                            li: a(href="") Люминесцентные
                            li: a(href="") Модули LED
                            li: a(href="") Основания / рассеиватели

                    li.col-4
                        a.h5.mega-menu__sub-cat-title(href="") Уличные
                        ul.mega-menu__sub-cat-cats
                            li: a(href="") Светодиодные (LED)
                            li: a(href="") Под лампу ДНаТ
                            li: a(href="") Под лампу ДРЛ
                            li: a(href="") Под лампу накаливания
                            li: a(href="") Ретро
                            li: a(href="") Кронштейны

                    li.col-4
                        a.h5.mega-menu__sub-cat-title(href="") Садово-парковые прожекторы
                        ul.mega-menu__sub-cat-cats
                            li: a(href="") LED
                            li: a(href="") LED на подставке
                            li: a(href="") LED цветные
                            li: a(href="") Галогенные

                    li.col-4
                        a.h5.mega-menu__sub-cat-title(href="") Точечные
                        ul.mega-menu__sub-cat-cats
                            li: a(href="") Для ламп R50, R63, R80
                            li: a(href="") Для ламп с цоколем GX
                            li: a(href="") Для ламп с цоколями GU4/GU5.3
                            li: a(href="") Светильники ТМ Электростандарт
                            li: a(href="") Трансформаторы

                    li.col-4
                        a.h5.mega-menu__sub-cat-title(href="") Аварийные / автономные

                    li.col-4
                        a.h5.mega-menu__sub-cat-title(href="") Декоративная светотехника
                        ul.mega-menu__sub-cat-cats
                            li: a(href="") Гирлянды
                            li: a(href="") Дюралайт
                            li: a(href="") Лампы
                            li: a(href="") Модули светодиодные
                            li: a(href="") Неоновая лента
                            li: a(href="") Стробоскопы

                    li.col-4
                        a.h5.mega-menu__sub-cat-title(href="") Электрофонари
                        ul.mega-menu__sub-cat-cats
                            li: a(href="") Электрофонари
                            li: a(href="") Зарядные устройства, аккумуляторы
                            li: a(href="") Лампы для электрофонарей

                    li.col-4
                        a.h5.mega-menu__sub-cat-title(href="") Настольные
                        ul.mega-menu__sub-cat-cats
                            li: a(href="") LED
                            li: a(href="") с люм. лампой 2G7
                            li: a(href="") с цоколем Е14
                            li: a(href="") с цоколем E27

                    li.col-4
                        a.h5.mega-menu__sub-cat-title(href="") Переноски трековые
                        ul.mega-menu__sub-cat-cats
                            li: a(href="") Светильники
                            li: a(href="") Аксессуары

                    li.col-4
                        a.h5.mega-menu__sub-cat-title(href="") Специального назначения
                        ul.mega-menu__sub-cat-cats
                            li: a(href="") Для растений
                            li: a(href="") Облучатели бактерицидные

                ul.mega-menu__sub-cats.d-flex.flex-column.flex-wrap(data-cat="1")
                    li.col-4
                        a.h5.mega-menu__sub-cat-title(href="") Тест 1
                        ul.mega-menu__sub-cat-cats
                            li: a(href="") Тест 1
                            li: a(href="") Тест 2
                ul.mega-menu__sub-cats.d-flex.flex-column.flex-wrap(data-cat="2")
                    li.col-4
                        a.h5.mega-menu__sub-cat-title(href="") Тест 2
                        ul.mega-menu__sub-cat-cats
                            li: a(href="") Тест 1
                            li: a(href="") Тест 2
                ul.mega-menu__sub-cats.d-flex.flex-column.flex-wrap(data-cat="3")
                    li.col-4
                        a.h5.mega-menu__sub-cat-title(href="") Тест 3
                        ul.mega-menu__sub-cat-cats
                            li: a(href="") Тест 1
                            li: a(href="") Тест 2
                ul.mega-menu__sub-cats.d-flex.flex-column.flex-wrap(data-cat="4")
                    li.col-4
                        a.h5.mega-menu__sub-cat-title(href="") Тест 4
                        ul.mega-menu__sub-cat-cats
                            li: a(href="") Тест 1
                            li: a(href="") Тест 2
                ul.mega-menu__sub-cats.d-flex.flex-column.flex-wrap(data-cat="5")
                    li.col-4
                        a.h5.mega-menu__sub-cat-title(href="") Тест 5
                        ul.mega-menu__sub-cat-cats
                            li: a(href="") Тест 1
                            li: a(href="") Тест 2
                ul.mega-menu__sub-cats.d-flex.flex-column.flex-wrap(data-cat="6")
                    li.col-4
                        a.h5.mega-menu__sub-cat-title(href="") Тест 6
                        ul.mega-menu__sub-cat-cats
                            li: a(href="") Тест 1
                            li: a(href="") Тест 2
                ul.mega-menu__sub-cats.d-flex.flex-column.flex-wrap(data-cat="7")
                    li.col-4
                        a.h5.mega-menu__sub-cat-title(href="") Тест 7
                        ul.mega-menu__sub-cat-cats
                            li: a(href="") Тест 1
                            li: a(href="") Тест 2
                ul.mega-menu__sub-cats.d-flex.flex-column.flex-wrap(data-cat="8")
                    li.col-4
                        a.h5.mega-menu__sub-cat-title(href="") Тест 8
                        ul.mega-menu__sub-cat-cats
                            li: a(href="") Тест 1
                            li: a(href="") Тест 2
                ul.mega-menu__sub-cats.d-flex.flex-column.flex-wrap(data-cat="9")
                    li.col-4
                        a.h5.mega-menu__sub-cat-title(href="") Тест 9
                        ul.mega-menu__sub-cat-cats
                            li: a(href="") Тест 1
                            li: a(href="") Тест 2
                ul.mega-menu__sub-cats.d-flex.flex-column.flex-wrap(data-cat="10")
                    li.col-4
                        a.h5.mega-menu__sub-cat-title(href="") Тест 10
                        ul.mega-menu__sub-cat-cats
                            li: a(href="") Тест 1
                            li: a(href="") Тест 2
                ul.mega-menu__sub-cats.d-flex.flex-column.flex-wrap(data-cat="11")
                    li.col-4
                        a.h5.mega-menu__sub-cat-title(href="") Тест 11
                        ul.mega-menu__sub-cat-cats
                            li: a(href="") Тест 1
                            li: a(href="") Тест 2
                ul.mega-menu__sub-cats.d-flex.flex-column.flex-wrap(data-cat="12")
                    li.col-4
                        a.h5.mega-menu__sub-cat-title(href="") Тест 12
                        ul.mega-menu__sub-cat-cats
                            li: a(href="") Тест 1
                            li: a(href="") Тест 2
                ul.mega-menu__sub-cats.d-flex.flex-column.flex-wrap(data-cat="13")
                    li.col-4
                        a.h5.mega-menu__sub-cat-title(href="") Тест 13
                        ul.mega-menu__sub-cat-cats
                            li: a(href="") Тест 1
                            li: a(href="") Тест 2
                ul.mega-menu__sub-cats.d-flex.flex-column.flex-wrap(data-cat="14")
                    li.col-4
                        a.h5.mega-menu__sub-cat-title(href="") Тест 14
                        ul.mega-menu__sub-cat-cats
                            li: a(href="") Тест 1
                            li: a(href="") Тест 2
                ul.mega-menu__sub-cats.d-flex.flex-column.flex-wrap(data-cat="15")
                    li.col-4
                        a.h5.mega-menu__sub-cat-title(href="") Тест 15
                        ul.mega-menu__sub-cat-cats
                            li: a(href="") Тест 1
                            li: a(href="") Тест 2
                ul.mega-menu__sub-cats.d-flex.flex-column.flex-wrap(data-cat="16")
                    li.col-4
                        a.h5.mega-menu__sub-cat-title(href="") Тест 16
                        ul.mega-menu__sub-cat-cats
                            li: a(href="") Тест 1
                            li: a(href="") Тест 2
                ul.mega-menu__sub-cats.d-flex.flex-column.flex-wrap(data-cat="17")
                    li.col-4
                        a.h5.mega-menu__sub-cat-title(href="") Тест 17
                        ul.mega-menu__sub-cat-cats
                            li: a(href="") Тест 1
                            li: a(href="") Тест 2
                ul.mega-menu__sub-cats.d-flex.flex-column.flex-wrap(data-cat="18")
                    li.col-4
                        a.h5.mega-menu__sub-cat-title(href="") Тест 18
                        ul.mega-menu__sub-cat-cats
                            li: a(href="") Тест 1
                            li: a(href="") Тест 2
                ul.mega-menu__sub-cats.d-flex.flex-column.flex-wrap(data-cat="19")
                    li.col-4
                        a.h5.mega-menu__sub-cat-title(href="") Тест 19
                        ul.mega-menu__sub-cat-cats
                            li: a(href="") Тест 1
                            li: a(href="") Тест 2
                ul.mega-menu__sub-cats.d-flex.flex-column.flex-wrap(data-cat="20")
                    li.col-4
                        a.h5.mega-menu__sub-cat-title(href="") Тест 20
                        ul.mega-menu__sub-cat-cats
                            li: a(href="") Тест 1
                            li: a(href="") Тест 2