.mobile-menu.js-mobile-menu
    .pages-links
        a(href="") Контакты
        a(href="") Доставка и оплата
        a(href="") Возврат
        a(href="") О компании
        a(href="") Акции
        a(href="") Поставщики

    .menu-breadcrumbs
        a.js-menu-back(href="javascript:;")
            i.icon-arrow-back.mr-2
            span

    ul.mobile-catalog
        li: a.js-sub-cat-check(href="") Метизы, крепёж
            ul.sub-cat(data-cat="0")
                li: a.js-sub-cat-check(href="") Лента открытая IP20, 12V
                li: a.js-sub-cat-check(href="") Лента защищённая IP65, 12V
                li: a.js-sub-cat-check(href="") Блоки питания для ленты 12V
                li: a.js-sub-cat-check(href="") Коннекторы для ленты 12V
                li: a.js-sub-cat-check(href="") Контроллеры для ленты 12V
                li: a.js-sub-cat-check(href="") Лента на напряжение 220В
                li: a.js-sub-cat-check(href="") Профили
        li: a.js-sub-cat-check(href="") Лампы, LED лента
            ul.sub-cat(data-cat="0")
                li: a.js-sub-cat-check(href="") Лента LED
                    ul.sub-cat(data-cat="0")
                        li: a.js-sub-cat-check(href="") Лента открытая IP20, 12V
                        li: a.js-sub-cat-check(href="") Лента защищённая IP65, 12V
                        li: a.js-sub-cat-check(href="") Блоки питания для ленты 12V
                        li: a.js-sub-cat-check(href="") Коннекторы для ленты 12V
                        li: a.js-sub-cat-check(href="") Контроллеры для ленты 12V
                        li: a.js-sub-cat-check(href="") Лента на напряжение 220В
                        li: a.js-sub-cat-check(href="") Профили
                li: a.js-sub-cat-check(href="") Патроны / дросселя / ЭПРА
                li: a.js-sub-cat-check(href="") Для производственных и складских помещений
                li: a.js-sub-cat-check(href="") Для общественных и бытовых помещений
                li: a.js-sub-cat-check(href="") Уличные
                li: a.js-sub-cat-check(href="") Садово-парковые прожекторы
                li: a.js-sub-cat-check(href="") Точечные
                li: a.js-sub-cat-check(href="") Аварийные / автономные
                li: a.js-sub-cat-check(href="") Декоративная светотехника
        li: a.js-sub-cat-check(href="") Светильники / Лента LED / Аксессуары
        li: a.js-sub-cat-check(href="") Кабель провод
        li: a.js-sub-cat-check(href="") Кабель-канал, Трубы, Лотки
        li: a.js-sub-cat-check(href="") Аппаратура защиты модульная
        li: a.js-sub-cat-check(href="") Шкафы / Корпуса / НКУ / Аксессуары
        li: a.js-sub-cat-check(href="") Счетчики электроэнергии
        li: a.js-sub-cat-check(href="") Розетки / Выключатели / Коробки / Звонки / Таймеры
        li: a.js-sub-cat-check(href="") Удлинители / Колодки / Вилки / Разъёмы
        li: a.js-sub-cat-check(href="") Батарейки / Аккумуляторы
        li: a.js-sub-cat-check(href="") Арматура кабельная (СИП, ЛЭП) / муфты / наконечники
        li: a.js-sub-cat-check(href="") Электромонтажные материалы
        li: a.js-sub-cat-check(href="") Контакторы / Рубильники / Выключатели нагрузки
        li: a.js-sub-cat-check(href="") Устройства защиты / контроля / управления
        li: a.js-sub-cat-check(href="") Электронагревательное оборудование
        li: a.js-sub-cat-check(href="") Инструмент
        li: a.js-sub-cat-check(href="") Электродвигатели / Вентиляторы / Насосы
        li: a.js-sub-cat-check(href="") Пожарно-охранное оборудование
        li: a.js-sub-cat-check(href="") Средства электрозащиты
        li: a.js-sub-cat-check(href="") Оборудование 6-10 кВ