.mobile-menu.js-mobile-menu
    .pages-links
        a(href="") Контакты
        a(href="") Доставка и оплата
        a(href="") Возврат
        a(href="") О компании
        a(href="") Акции
        a(href="") Поставщики

    ul.mobile-catalog
        li: a(href="" data-cat="0") Метизы, крепёж
        li: a(href="" data-cat="1") Лампы, LED лента
        li: a(href="" data-cat="2") Светильники / Лента LED / Аксессуары
        li: a(href="" data-cat="3") Кабель провод
        li: a(href="" data-cat="4") Кабель-канал, Трубы, Лотки
        li: a(href="" data-cat="5") Аппаратура защиты модульная
        li: a(href="" data-cat="6") Шкафы / Корпуса / НКУ / Аксессуары
        li: a(href="" data-cat="7") Счетчики электроэнергии
        li: a(href="" data-cat="8") Розетки / Выключатели / Коробки / Звонки / Таймеры
        li: a(href="" data-cat="9") Удлинители / Колодки / Вилки / Разъёмы
        li: a(href="" data-cat="10") Батарейки / Аккумуляторы
        li: a(href="" data-cat="11") Арматура кабельная (СИП, ЛЭП) / муфты / наконечники
        li: a(href="" data-cat="12") Электромонтажные материалы
        li: a(href="" data-cat="13") Контакторы / Рубильники / Выключатели нагрузки
        li: a(href="" data-cat="14") Устройства защиты / контроля / управления
        li: a(href="" data-cat="15") Электронагревательное оборудование
        li: a(href="" data-cat="16") Инструмент
        li: a(href="" data-cat="17") Электродвигатели / Вентиляторы / Насосы
        li: a(href="" data-cat="18") Пожарно-охранное оборудование
        li: a(href="" data-cat="19") Средства электрозащиты
        li: a(href="" data-cat="20") Оборудование 6-10 кВ