$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-cart-favs: "\e928";
$icon-c-docs: "\e93f";
$icon-c-orders: "\e940";
$icon-c-profile: "\e941";
$icon-email: "\e942";
$icon-logout: "\e943";
$icon-phone: "\e944";
$icon-chat: "\e927";
$icon-catalog: "\e900";
$icon-avatar: "\e901";
$icon-delivery-truck-boxes: "\e902";
$icon-news: "\e903";
$icon-orders: "\e904";
$icon-sales: "\e905";
$icon-specials: "\e906";
$icon-deals: "\e907";
$icon-cart: "\e908";
$icon-heart: "\e909";
$icon-search: "\e90a";
$icon-lock: "\e90b";
$icon-eye: "\e90c";
$icon-eye-closed: "\e90d";
$icon-file-ppt: "\e90e";
$icon-file-xlsx: "\e90f";
$icon-file-docx: "\e910";
$icon-file-pdf: "\e911";
$icon-file-xls: "\e912";
$icon-file-doc: "\e913";
$icon-file-zip: "\e914";
$icon-file-rar: "\e915";
$icon-file-txt: "\e916";
$icon-file-jpg: "\e917";
$icon-file-mp4: "\e918";
$icon-file-png: "\e919";
$icon-file-gif: "\e91a";
$icon-file-mp3: "\e91b";
$icon-place: "\e91c";
$icon-trash: "\e91d";
$icon-close: "\e91e";
$icon-external: "\e91f";
$icon-arrow-back: "\e920";
$icon-calendar: "\e921";
$icon-file: "\e922";
$icon-danger: "\e923";
$icon-dropdown: "\e924";
$icon-info: "\e925";
$icon-success: "\e926";
$icon-soc-dropbox: "\e92c";
$icon-soc-facebook: "\e92d";
$icon-soc-gplus: "\e92e";
$icon-soc-instagram: "\e92f";
$icon-soc-linkedin: "\e930";
$icon-soc-mailru: "\e931";
$icon-soc-ok: "\e932";
$icon-soc-pinterest: "\e933";
$icon-soc-skype: "\e934";
$icon-soc-telegram: "\e935";
$icon-soc-twitter: "\e936";
$icon-soc-viber: "\e937";
$icon-soc-vimeo: "\e938";
$icon-soc-vk: "\e939";
$icon-soc-whatsapp: "\e93a";
$icon-soc-yadisk: "\e93b";
$icon-soc-yandex: "\e93c";
$icon-soc-youtube: "\e93d";

