mixin menu-bar
	a.menu-bar.js-menu-bar(href="javascript:void(0);")
		span.menu-bar__stick
		span.menu-bar__stick
		span.menu-bar__stick

mixin pagination
	ul.pagination
		li.page-item.disabled
			a.page-link(href="#" aria-label="Previous")
				img(src="images/pagi-arrow-prev.svg")
		li.page-item.active
			span.page-link 1
		li.page-item
			a.page-link(href="#") 2
		li.page-item
			a.page-link(href="#") 3
		li.page-item
			a.page-link(href="#") 4
		li.page-item
			a.page-link(href="#") 5
		li.page-item
			a.page-link(href="#" aria-label="Next")
				img(src="images/pagi-arrow-next.svg")

mixin pagination-bar
	div.mb-2
		span С 1 по 20 из 10 661
	nav.row.align-items-center
		.col-auto.mb-3
			button.btn.btn-ghost.pagination-button Показать еще

		.col-auto.mb-3
			+pagination

//- +file("pdf", "Sales guide", "(PDF, 700 Кб)")
mixin file(type, title, text)
	.file
		.file__icon
			i(class="icon-file icon-file-" + type)
		.file__desc
			a.file__title(href="#")= title
			if text
				.file__text= text